/*default version*/
@font-face {
	font-family: 'Franklin';
	src: url('/static/fonts/Franklin Gothic Heavy Italic.ttf')  format('truetype'); 
}

@font-face {
	font-family: 'Chicago';
	src: url('/static/fonts/ChicagoFLF.ttf')  format('truetype'); 
}

body{
    background:#d3d3d3;  
    font-size: 1.2rem;
    font-weight: 300;
}

.navbar{
    background-color:#534F50;  
    z-index:100;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Chicago';
    color: #fff;
    padding-right: 2rem;
}
.nav-link a:hover{
    color: #f31281;
}
.container{   
    /*min-width:992px;*/
    background:#fff;
    min-width: 768px;
    max-width: 968px;
}
.card{
    border: 0px!important;
    padding: 5px;
}
h1{

    text-align: center;
    font-family: 'Chicago', sans-serif; 
    color: white;
    background: #f31281;
   
    font-size: 70px;
     
    z-index: 100;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom:40px;
    width: 100%;

}
.lead{
    font-size: 1.2em;
    font-weight: 400;
}

.searchbutton{
    background-color: white!important;

}
#homebanner{
    margin-top: 0px;
    text-align:center;  
}
#homebanner{
    height: 234px;
    background: url("/static/images/banner.png") no-repeat;
}
#banner{
    width: 60%;
    font-size: 36px;
    margin-top: 30px;
    text-align:center;  
}

.lead{
    display:block;
    margin: 0 auto;
    width: 60%;
    text-align:center;
    font-size: 36px;
}
h2{
    font-size:60px;
    font-family: 'Chicago', sans-serif; 
    background: #f31281;
    color: white;
     text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
     text-transform: uppercase;  
}

#banner h3{
    font-size:40px;
   font-family: 'Chicago', sans-serif; 
   background: #f31281;
   color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-transform: uppercase;
}

h3,h3 a{
    font-size: 28px ;
    text-align: center ;
    font-family: 'Chicago', sans-serif; 
    /*background: #f31281;*/
    color: #f31281;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
    text-transform: uppercase;
}