{% extends "_base.html" %}

{%block title%} {{activity.name}} {%endblock%}

{% block content %}

<h1 class="text-image">
  <img src="/static/images/logo_small.png" style="vertical-align:baseline;" width="80"/>   
    {{activity.name}}</h1>

<h2>
    {{activity.preamble|safe}}
</h2>

    <ul class="list-inline">
        {%for tag in tool.tags.all%}
            <li class="list-inline-item" class="badge badge-primary">
            <a href="/activities/tag/{{tag.slug}}">{{tag.name}}</a></li>
        {%endfor%}
    </ul>



<!--h2>Screencasts! {{activity.screencasts.all.count}}</h2-->

 {% for screencast in activity.screencasts.all %}
<center>
    <iframe width="640" height="480" 
    src="{{screencast.embed_url}}" frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>
{%endfor%}

  <hr class="my-4">
   {% if request.user.is_authenticated %}
   <a href="/admin/tools/activity/{{activity.id}}/change/" 
   class="badge badge-primary">Edit</a>
   <br>
  {%endif%}



 

  

 
{%if activity.inspiration_text or activity.inspirations.all %}
<h3>Inspiration</h3>
{%endif%}

 {{activity.inspiration_text|safe}}

 <div class="card flex-row flex-wrap">
   {%for item in activity.inspirations.all%}
          <div class="card" style="width: 300px">
                <div class="card-body">
                <a href="{{item.url}}" target="_blank">
                    <img class="card-img-top" 
                        src="{%if item.image_url%}{{item.image_url}}{%endif%}" 
                        alt="Card image cap" height="150"
                    ></a>

                    <div class="card-text"> 
                        <h4>{{item.name}}</h4>
                        <a href="{{item.url}}"  target="_blank">{{item.url}}</a>
                        <br>
                        {{item.about|safe}}
                    </div>
                </div>
            </div>
  {%endfor%}
</div> 
 <br> <br>

 <br> <br>

{%if activity.resources_text or activity.resources.all %}
<h3>Resources</h3>
{%endif%}

{{activity.resource_text|safe}}

 <div class="card flex-row flex-wrap">
   {%for item in activity.resources.all%}
          <div class="card" style="width: 300px">
                <div class="card-body">
                <a href="{{item.url}}" target="_blank">
                    <img class="card-img-top" 
                        src="{%if item.image_url%}{{item.image_url}}{%endif%}" 
                        alt="Card image cap" height="150"
                    ></a>

                    <p class="card-text"> 
                        <h4>{{item.name}}</h4>
                        <a href="{{item.url}}"  target="_blank">{{item.url}}</a>
                        <br>
                        {{item.about|safe}}
                    </p>
                </div>
         </div>
  {%endfor%}
</div> 
 <br> <br>

{%if activity.tools_text or activity.tools.all %}
<h3>Tools</h3>
{%endif%}

{{activity.tool_text|safe}}

 <div class="card flex-row flex-wrap">
   {%for item in activity.tools.all%}
          <div class="card" style="width: 300px">
                <div class="card-body">
                <a href="{{item.url}}" target="_blank">
                    <img class="card-img-top" 
                        src="{%if item.image_url%}{{item.image_url}}{%endif%}" 
                        alt="Card image cap" height="150"
                    ></a>

                    <p class="card-text"> 
                        <h4>{{item.name}}</h4>
                        <a href="{{item.url}}"  target="_blank">{{item.url}}</a>
                        <br>
                        {{item.about|safe}}
                    </p>
                </div>
        </div>
  {%endfor%}
</div> 
 <br> <br>



{% if has_learnings %}
 <h3>Learning</h3>
 {% endif %}

 {{activity.learning_text|safe}}


 <div class="card flex-row flex-wrap">
   {% for item in learnings %}
          <div class="card" style="width: 300px">
                <div class="card-body">
                <a href="{{item.url}}" target="_blank">
                    <img class="card-img-top" 
                        src="{%if item.image_url%}{{item.image_url}}{%endif%}" 
                        alt="Card image cap" height="150"
                    ></a>

                    <p class="card-text"> 
                        <h4>{{item.name}}</h4>
                        <a href="{{item.url}}" target="_blank">{{item.url}}</a>
                        <br>
                        {{item.about|safe}}
                    </p>
                </div>
            </div>
  {%endfor%}
</div>






 
{% endblock %}
