{% extends "_base.html" %}

{%block title%} Home {%endblock%}

{% block content %}


<div class="card flex-row flex-wrap">
    {% for activity in activities %}
        <div class="card" style="width: 15rem;">
          <a href="{{activity.url}}" >

          {% if activity.image %}
                  <img class="card-img-top" 
                  src="/uploads/{{activity.image}}" 
                  alt="Card image cap" height="150"
                  target="_blank">

          {% elif activity.tools.all.count > 0 %}
              <img class="card-img-top" 
                  src="{{activity.tools.first.image_url}}" 
                  alt="Card image cap" height="150"
                  target="_blank">
          
          {%else%}
              <img class="card-img-top" 
                  src="/static/default_activity.png" 
                  alt="Card image cap" height="150"
                  target="_blank">
              {%endif%}

            </a>

          <div class="card-body">
          
              <div class="card-text">

                <h3><a href="/activities/view/{{activity.slug}}">{{activity.name}}</a></h3>

                <ul class="list-inline">
                  {%for tag in activity.tags.all%}
                      <li class="list-inline-item" >
                      <a href="/activities/tag/{{tag.slug}}" class="badge">{{tag.name}}</a></li>
                  {%endfor%}
                  </ul>

                {{activity.preamble|safe|striptags|truncatechars:82 }}
    
                  {% if request.user.is_authenticated %}
                    <a href="/admin/tools/activity/{{activity.id}}/change/" class="badge badge-primary">Edit</a> 
                  <br>
                  {%endif%}
               </div> <!-- end card text-->
            </div><!-- end card body-->
        </div><!-- end card -->
        

    {%endfor%}
</div><!-- end card flex-row -->




{% endblock %}
