{% extends "_base.html" %}

{%block title%} Home {%endblock%}

{% block content %}
<script>
$(document).ready(function () {
     $('.level_text').hide(); //hide all items

    $('#filters :radio').click(function () {
        if ($('input:radio:checked').length) {
            console.log("hide all")
           
            $('.item').hide(); //hide all items
            $('.level_text').hide(); //hide all items

            $('input:radio:checked').each(function () {
                var selector = '.level_'+ $(this).val() 
                console.log("show", selector)
                $( selector ).show();

                var text_selector = '#level_'+ $(this).val() +"_text"
                console.log("show", text_selector)
                $( text_selector ).show();
            });

        } else {
            console.log("show")
            $(".item").show(); //show them all
            $('.level_text').hide(); //hide all items
        }
        //count how many are showing...
       var visible_items = $('.item:visible').length 
       $("#activities_count").text(visible_items + " activities")
    });
    
});
</script>
<style>
#filters{
    text-align: center;

}
</style>

<br>
<div id="homebanner">
</div>

 <h2>{{banner.text|safe}}</h2>
<div id="banner">
     <!--h3>{{banner.preamble|safe}}</h3-->     
     
</div>

    <section id="filters">
        <p id="fHeader">
         <fieldset id="group1">
         
            <input type="radio" name="level" value="all" id="all" checked/> All &nbsp; &nbsp; &nbsp;
            {%for level in levels%}
                <input type="radio" name="level" value="{{level.id}}" id="{{level.id}}" /> {{level.name}} 
                &nbsp; &nbsp; &nbsp;
            {%endfor%}
        </fieldset>

        {%for level in levels%}
           <div id="level_{{level.id}}_text" class="level_text">
           <br>
           <!--b> {{level.name}}</b-->{{level.text|safe}}</div>
        {%endfor%}
        </p>
       <p id="activities_count"></p>
    </section>
    <br><br>

<div class="card flex-row flex-wrap">
    {% for activity in activities %}
        <div class="card item level_{{activity.level.id}} level_all" style="width: 300px">
          <a href="/activities/view/{{activity.slug}}">

          {% if activity.image %}
                  <img class="card-img-top" 
                  src="/uploads/{{activity.image}}" 
                  alt="Card image cap" height="150"
                  target="_blank">

          {% elif activity.tools.all.count > 0 %}
              <img class="card-img-top" 
                  src="{{activity.tools.first.image_url}}" 
                  alt="Card image cap" height="150"
                  target="_blank">
          
          {%else%}
              <img class="card-img-top" 
                  src="/static/default_activity.png" 
                  alt="Card image cap" height="150"
                  target="_blank">
              {%endif%}

            </a>

          <div class="card-body">
          
              <div class="card-text">

                <h3><a href="/activities/view/{{activity.slug}}">{{activity.name}}</a></h3>

                <ul class="list-inline">
                  {%for tag in activity.tags.all%}
                      <li class="list-inline-item" >
                      <a href="/activities/tag/{{tag.slug}}" class="badge badge-primary">{{tag.name}}</a></li>
                  {%endfor%}
                     <li class="badge badge-light">{{activity.level.name}}</li>
                    <li class="badge">{%if activity.screencasts_count > 0 %}
                    
                        <img src="/static/images/has_youtube_intro.jpg" 
                        style="vertical-align: baseline;"
                        alt="has youtube intro" width="32">
                     
                     {%endif%}</li>
                     
                  </ul>

                    

                {{activity.preamble|safe|striptags|truncatechars:82 }}
    
                  {% if request.user.is_authenticated %}
                    <a href="/admin/tools/activity/{{activity.id}}/change/" class="badge badge-success">Edit</a> 
                  <br>
                  {%endif%}
               </div> <!-- end card text-->
            </div><!-- end card body-->
        </div><!-- end card -->
        

    {%endfor%}
</div><!-- end card flex-row -->




{% endblock %}
