{% extends "_base.html" %}

{%block title%} inspirational stuff {%endblock%}

{% block content %}


   <h1>{{banner.preamble|safe}}</h1>
<div id="banner">
    
     <br>
      <b>{{banner.text|safe}}</b>
</div>

  <div class="card flex-row flex-wrap">

  {% for inspiration in inspirations %}
   <div class="card" style="width: 300px;">
   <a href="{{inspiration.url}}" target="_blank">
   {%if inspiration.image_url%}
      <img class="card-img-top" 
      src="{{inspiration.image_url}}" 
      alt="Card image cap" height="160"
      target="_blank">{%endif%}
      </a>
  <div class="card-body">
          <p class="card-text">
  <h3><a href="{{inspiration.url}}" target="_blank">{{inspiration.name}}</a></h3>

     <ul class="list-inline">
        {%for tag in inspiration.tags.all%}
            <li class="list-inline-item" >
            <a class="badge badge-primary" href="/activities/tag/{{tag.slug}}">{{tag.name}}</a></li>
        {%endfor%}
    </ul>

  {{inspiration.about|safe|striptags }}

  <br>
  {% if request.user.is_authenticated %}
   <a href="/admin/tools/inspiration/{{inspiration.id}}/change/" class="badge badge-primary">Edit</a>
   <br>
  {%endif%}
 
  </p>
       </div>
    </div>
  {%endfor%}
 </div>
  </p>
</div>

{% endblock %}
