{% extends "_base.html" %}

{%block title%} Slot Machine {%endblock%}
<!-- Thank you: https://momokang.github.io/slotmachine/ -->

{%block head%}
<style>


.slotwrapper {
    overflow: hidden;
    display: inline-block;
    border: 1px solid #000;
    height: 200px;
}
.slotwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
}
.slotwrapper ul {
    width: 200px;
    height:200px;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
}
.slotwrapper ul li img {
    vertical-align: top;
}
@media screen and (max-width: 1200px) {
    .slotwrapper {
        width: 100%;
    }
    .slotwrapper ul {
        width: 33%;
    }
}
@media screen and (max-width: 768px) {
    .slotwrapper {
        height: 100px;
    }
    .slotwrapper ul {
        height:100px;
        font-size: 100px;
        line-height: 100px;
    }
}

/* Example 10 override slotwrapper */
#example10 {
    height: 150px;
}
#example10 ul {
    width: 150px;
    height:150px;
    font-size: 150px;
    line-height: 150px;
}
@media screen and (max-width: 1200px) {
    #example10 ul {
        width: 18%;
    }
}
@media screen and (max-width: 768px) {
    #example10 {
        height: 100px;
    }
    #example10 ul {
        height:100px;
        font-size: 100px;
        line-height: 100px;
    }
}
</style>
<style>
.slotwrapper li{
    font-size: 16px;
    text-align:center;
}
.slotwrapper{
    width:100%;
    height:360px;
    text-align:center;

}

.slotwrapper ul {
    width: 300px;
    height:280px;
    font-size: 30px;
    line-height: 14px;
    text-align: center;
    border:1px solid black;
    margin: 5px;
}
</style>

{%endblock%}

{% block content %}
<div>

<center>
<h3> Creativity Slot Machine</h3>
<p>Sometimes, it pays to allow some randomness into your creative life.</p>
<p>
This slot machine randomly selects a random inspiration, a resource (images or sounds etc), and a tool. 
See if you can spin the machine, explore the items, and see if they give you an idea.
<br><br><br>
</p>
<div class="slotwrapper" id="example6">
                    <ul data-playslot="2" style="top: -1200px;">
                    {%for insp in inspirations%}
                        <li>
                            <a href="{{insp.url}}"  target="_blank" title="{{insp.name}}">
                            <img src="{{insp.image_url}}" width="300" height="220"/>
                            {{insp.name}}
                            </a>
                            <br><br><br>
                        </li>
                    {%endfor%}
                        
                    </ul>
                    <ul data-playslot="2" style="top: -1000px;">
                         {%for resource in resources%}
                        <li><a href="{{resource.url}}" target="_blank" title="{{resource.name}}">
                            <img src="{{resource.image_url}}" width="300"  height="220"/>
                             {{resource.name}}
                            </a>
                           <br><br><br>
                        </li>
                    {%endfor%}
                    </ul>
                    <ul data-playslot="2" style="top: -600px;">
                      {%for tool in tools%}
                        <li><a href="{{tool.url}}" target="_blank" title="{{tool.name}}">
                            <img src="{{tool.image_url}}" width="300"  height="220"/>
                            {{tool.name}}
                            </a>
                            <br><br><br>
                        </li>
                    {%endfor%}
                       
                    </ul>
</div>
<br><br>
<button type="button" class="btn btn-success btn-lg" id="btn-example6">Start Spin!</button>
<br><br>
<br><br>
<br><br>
</center>



</div>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://momokang.github.io/slotmachine/js/slotmachine.min.js"></script>

<script>
$('#btn-example6').click(function() {

  $('#example6 ul').playSpin(
      {time:2000,
                onStart: function() {
                    sound.play(); // Play ding after each number is stopped
                },
                
                onEnd: function() {
                    ding.play(); // Play ding after each number is stopped
                },
                onFinish: function() {
                    sound.pause(); // To stop the looping sound is pause it
                }
        } 
                );
});
</script>



    <script type="text/javascript">
        $('#btn-example1').click(function() {
            $('#example1 ul').playSpin();
        });

        $('#btn-example2').click(function() {
            var num1 = $('#txt-example2-1').val();
            var num2 = $('#txt-example2-2').val();
            var num3 = $('#txt-example2-3').val();
            $('#example2 ul').playSpin({
                endNum: [num1, num2, num3],
            });
        });

        $('#btn-example3-1').click(function() {
            $('#example3 ul').playSpin({
                stopSeq: 'leftToRight'
            });
        });

        $('#btn-example3-2').click(function() {
            $('#example3 ul').playSpin({
                stopSeq: 'rightToLeft'
            });
        });

        $('#btn-example4').click(function() {
            $('#example4 ul').playSpin({
                easing: 'easeOutBack'
            });
        });

        $('#btn-example5').click(function() {
            var time = $('#txt-example5').val();
            if (time < 0 || time == '') {
                time = 0;
            }
            $('#example5 ul').playSpin({
                time: time,
            });
        });

        $('#btn-example6').click(function() {
            $('#example6 ul').playSpin();
        });

        $('#btn-example7').click(function() {
            $('#lbl-example7-1').text('');
            $('#lbl-example7-2').text('');
            $('#example7 ul').playSpin({
                onEnd: function(num) {
                    $('#lbl-example7-1').text($('#lbl-example7-1').text() + num.toString());
                },
                onFinish: function(num) {
                    $('#lbl-example7-2').text(num);
                }
            });
        });

        var sound = new Audio('https://momokang.github.io/slotmachine/ringtones/spinning.mp3');
        var ding = new Audio('https://momokang.github.io/slotmachine/ringtones/ding.wav');
        // Loop of playing sound
        sound.addEventListener('ended', function() {
            this.currentTime = 0;
            this.play();
        }, false);

        $('#btn-example8').click(function() {
            sound.play(); // Start play the sound after click button
            $('#example8 ul').playSpin({
                time: 2000,
                endNum: [1, 2, 7],
                stopSeq: 'rightToLeft',
                onEnd: function() {
                    ding.play(); // Play ding after each number is stopped
                },
                onFinish: function() {
                    sound.pause(); // To stop the looping sound is pause it
                }
            });
        });

        $('#btn-example9-start').click(function() {
            $('#example9 ul').playSpin({
                manualStop: true
            });
        });

        $('#btn-example9-stop').click(function() {
            $('#example9 ul').stopSpin();
        });

        var numKeeptrack = 0;
        $('#btn-example10-start').click(function() {
            numKeeptrack = 3;
            $('#example10 #first').playSpin({
                manualStop: true
            });
            $('#example10 #second').playSpin({
                manualStop: true
            });
            $('#example10 #third').playSpin({
                manualStop: true
            });
        });

        $('#btn-example10-stop').click(function() {
            if (numKeeptrack == 3) {
                $('#example10 #third').stopSpin();
            } else if (numKeeptrack == 2) {
                $('#example10 #second').stopSpin();
            } else if (numKeeptrack == 1) {
                $('#example10 #first').stopSpin();
            }
            numKeeptrack--;
        });
    </script>

{%endblock%}