{% extends "_base.html" %}

{%block title%} {{tag.name}} {%endblock%}

{% block content %}

 

   <h3> {{tag.name}}</h3>
  <div class="card flex-row flex-wrap">
   

    
  {% for tool in tools %}
   <div class="card" style="width: 300px;">
   <a href="{{tool.url}}" target="_blank">
   {%if tool.image_url%}
      <img class="card-img-top" 
      src="{{tool.image_url}}" 
      alt="Card image cap" height="150"
      target="_blank">{%endif%}
      </a>
  <div class="card-body">
          <p class="card-text">
  <h3><a href="{{tool.url}}" target="_blank">{{tool.name}}</a></h3>

     <ul class="list-inline">
        {%for tag in tool.tags.all%}
            <li class="list-inline-item" >
            <a class="badge badge-primary" href="/activities/tag/{{tag.slug}}">{{tag.name}}</a></li>
        {%endfor%}
    </ul>

  {{tool.about|safe}}

  <br>
  {% if request.user.is_authenticated %}
   <a href="/admin/tools/inspirations/{{insp.id}}/change/" class="badge badge-primary">Edit</a>
   <br>
  {%endif%}
 
  </p>
       </div>
    </div>
  {%endfor%}

     {% for insp in inspirations %}
   <div class="card" style="width: 300px;">
   <a href="{{insp.url}}" target="_blank">
   {%if insp.image_url%}
      <img class="card-img-top" 
      src="{{insp.image_url}}" 
      alt="Card image cap" height="150"
      target="_blank">{%endif%}
      </a>
  <div class="card-body">
          <p class="card-text">
  <h3><a href="{{insp.url}}" target="_blank">{{insp.name}}</a></h3>

     <ul class="list-inline">
        {%for tag in insp.tags.all%}
            <li class="list-inline-item" >
            <a class="badge badge-primary" href="/activities/tag/{{tag.slug}}">{{tag.name}}</a>
            </li>
        {%endfor%}
    </ul>

  {{insp.about|safe}}

   <br>
  {% if request.user.is_authenticated %}
   <a href="/admin/tools/inspiration/{{insp.id}}/change/" class="badge badge-primary">Edit</a>
   <br>
  {%endif%}
 
  </p>
       </div>
    </div>
  {%endfor%}

    {% for item in resources %}
   <div class="card" style="width: 300px;">
   <a href="{{item.url}}" target="_blank">
   {%if item.image_url%}
      <img class="card-img-top" 
      src="{{item.image_url}}" 
      alt="Card image cap" height="150"
      target="_blank">{%endif%}
      </a>
  <div class="card-body">
          <p class="card-text">
  <h3><a href="{{item.url}}" target="_blank">{{item.name}}</a></h3>

     <ul class="list-inline">
        {%for tag in item.tags.all%}
            <li class="list-inline-item" >
            <a class="badge badge-primary" href="/activities/tag/{{tag.slug}}">{{tag.name}}</a></li>
        {%endfor%}
    </ul>

  {{item.about|safe}}

   <br>
  {% if request.user.is_authenticated %}
   <a href="/admin/tools/resource/{{item.id}}/change/" class="badge badge-primary">Edit</a>
   <br>
  {%endif%}
 
  </p>
       </div>
    </div>
  {%endfor%}




{% endblock %}
