{% extends "_base.html" %}

{%block title%} Tool {%endblock%}

{% block content %}
  
<div id="banner">
     <h3>{{banner.preamble|safe}}</h3>
     <br>
      <b>{{banner.text|safe}}</b>
</div>

 
  
  <div class="card flex-row flex-wrap">

  {% for tool in tools %}
   <div class="card" style="width: 300px">
   <a href="{{tool.url}}" target="_blank">
   
   {%if tool.image_url%}
      <img class="card-img-top" 
      src="{{tool.image_url}}" 
      alt="Card image cap" height="150"
      target="_blank">
    {%endif%}
      </a>

  <div class="card-body">
          <p class="card-text">
  <h3><a href="{{tool.url}}" target="_blank">{{tool.name}}</a></h3>

     <ul class="list-inline">
        {%for tag in tool.tags.all%}
            <li class="list-inline-item">
            <a class="badge badge-primary" href="/activities/tag/{{tag.slug}}">{{tag.name}}</a></li>
        {%endfor%}
    </ul>

  {{tool.about|safe}}

  <br>
  {% if request.user.is_authenticated %}
   <a href="/admin/tools/tool/{{tool.id}}/change/" class="badge badge-primary">Edit</a>
   <br>
  {%endif%}
 
 
       </div>
    </div>
  {%endfor%}


</div>

{% endblock %}
