<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
      <small>
        <span style="color:#f8f9fa!important">©
          <a style="color:#f8f9fa!important" href="http://everythingability.com">Tom Smith</a>
         <a href="#top" style="color:darkgray"> &#8593;	 Top </a> | 
          <a href="/activities/latest" style="color:darkgray"> Latest </a> |
          <a href="/activities/slotmachine" style="color:darkgray"> Slot Machine </a> 
         
        </span>


      </small>
<div style="float:right">
        <a  href="/admin/"><img 
         title="Administrators only"
         src="/static/images/pencil.png" width="20"/></a>

           {% if request.user.is_staff %}
         
              <a  href="/logout/">
              <img 
         title="Sign out"
         src="/static/images/cross.png" width="20"/></a>
            
      {%endif%}
</div>
    </div>
  </nav>
</footer>
